html {
	height: 100%;
	/* box-sizing: border-box; */
}

@font-face {
	font-family: spotifyFont;
	src: url("../fonts/Gotham-Black.otf");
}

@font-face {
	font-family: footerFont;
	src: url("../fonts/Gotham-Thin.otf");
}

body {
	margin: 0;
	padding-bottom: 5rem;
	position: relative;
	min-height: 100%;
	font-family: spotifyFont;
	/* box-sizing: inherit; */
	/* background-color: rgb(177, 250, 197); */
	background-color: #414b3e;
	/* background-color: #407030; */
	/* background-color: #56704C; */
}

.App {
	text-align: center;
}

.authorize button {
	padding: 1em;
	border-radius: 20px;
	font-family: spotifyFont;
	background-color: rgb(64, 0, 115);
	color: white;
}

.user-intro img {
	border-radius: 50%;
}

.user-intro p {
	margin: 3% 0;
	color: rgb(161, 180, 160);
}

.user-intro a {
	color: rgb(201, 54, 54);
	transition: 0.2s;
}

.user-intro a:hover {
	color: rgb(253, 36, 36);
}

.user-intro a:active {
	text-decoration-color: rgb(255, 255, 255);
}

.song-list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 5%;
}

.song-list strong {
	color: blue;
}

.footer {
	width: 100%;
	position: absolute;
	font-family: footerFont;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #003006;
	color: #ffffff;
}

.login .authorize {
	background-color: #00ff6a;
	color: #fff;
	border: 1px gray solid;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.login .authorize:active {
	background-color: #58a524;
}
