/* THIS FILE CONTAINS STYLES FOR THE {USERTOPSONGS.JSX, HOME.JSX, and LIST.JSX} FILES */

.home-container {
	margin: 0;
	padding: 0;
	border: 3px dotted black;
	height: 100%;
}

.home-container .user-top-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.user-top-container .user-top-artists {
	border: 1px dashed green;
	width: auto;
	margin: 0 1rem 0 1rem;
	align-items: center;
	justify-content: center;
}

.user-top-container .user-top-tracks {
	border: 1px dashed blue;
	width: auto;
	margin: 0 1rem 0 1rem;
}

.list-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1em;
    /* justify-items: center; */
    place-items: center;
	padding: 0;
	border: 1px dashed purple;
}

.list-container .single-artist {
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid black;
	margin: 3rem;
	padding: 1rem;
	width: 20rem;
}

.single-artist a {
	text-decoration: none;
	/* color: white; */
}

/* MEDIA QUERIES */
@media screen and (min-width: 300px) and (max-width: 449px) {
	.list-container {
		height: 500px;
		overflow-y: scroll;
		grid-template-columns: repeat(1, 1fr);
		/* width: 360px; */
	}

	.list-container .single-artist img {
		border-radius: 50%;
		height: 75px;
		width: 75px;
	}

	.list-container .single-artist {
		width: 300px;
	}
}

@media screen and (min-width: 450px) and (max-width: 800px) {
	.list-container {
		height: 600px;
		overflow-y: scroll;
		grid-template-columns: repeat(1, 1fr);
	}

	.list-container .single-artist img {
		border-radius: 50%;
		height: 75px;
		width: 75px;
	}
}

@media screen and (max-width: 670px) {
	.home-container .user-top-container {
		grid-template-columns: repeat(1, 2fr);
	}

	.user-top-artists {
		margin: 1rem 0;
	}

	.user-top-tracks {
		margin: 5% 0;
	}
}

@media screen and (max-width: 830px) {
	.home-container .user-top-container {
		grid-template-columns: repeat(1, 2fr);
	}

	.user-top-artists {
		margin: 1rem 0;
	}

	.user-top-tracks {
		margin: 5% 0;
	}

	.list-container .single-artist {
		width: 15rem;
	}
}

@media screen and (max-width: 1650px), (max-width: 1910px) {
	.home-container .user-top-container {
		grid-template-columns: repeat(1, 2fr);
	}

	.user-top-artists {
		margin: 1rem 0;
		width: 980px;
	}

	.user-top-tracks {
		margin: 5% 0;
	}
}

