/* THIS FILE CONTAINS STYLES FOR THE {USERTOPSONGS.JSX, HOME.JSX, and LIST.JSX} FILES */

.home-container {
	margin: 0;
	padding: 0;
	border: 3px dotted black;
	height: 100%;
}

.home-container .user-top-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 3%;
}

.user-top-container .user-top-artists {
	border: 1px dashed green;
	width: auto;
	margin: 0 1rem 0 1rem;
}

.user-top-container .user-top-tracks {
	border: 1px dashed blue;
	width: auto;
	margin: 0 1rem 0 1rem;
}

.user-top-container .user-recommended-artists {
	border: 1px dashed blue;
	width: auto;
	margin: 0 1rem 0 1rem;
}

.list-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1em;
	/* justify-items: center; */
	place-items: center;
	padding: 0;
	border: 1px dashed purple;
}

.list-container .single-item {
	display: flex;
	justify-content: center;
	align-self: center;
	border: 1px solid black;
	margin: 3rem;
	padding: 1rem;
	width: 10rem;
}

.single-item a {
	text-decoration: none;
	/* color: white; */
}

.tracks-container {
	/* display: flex;
	justify-content: center; */
	flex-direction: column;
	width: 30vw;
}

.tracks-container .single-item a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px black solid;
	border-radius: 20px;
	margin: 2%;
	padding: 2%;
	transition: 0.3s;
	min-width: 0;
}

.tracks-container .single-item p {
	margin: 0;
}

.tracks-container .single-item .top-track-title {
	display: flex;
	justify-content: flex-start;
	min-width: 0;
	width: 13vw;
	white-space: nowrap;
	overflow-x: auto;
	padding-bottom: 5px;
	color: rgb(91, 179, 142);

	&::-webkit-scrollbar {
		width: 10px;
		height: 8px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		box-shadow: inset 1 0 100px ;
		border-radius: 10px;
		background: rgb(190, 187, 187);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgb(11, 252, 3, 150);
		border-radius: 10px;
	}
}

.tracks-container .single-item .top-track-artists {
	display: flex;
	justify-content: flex-start;
	min-width: 0;
	width: 10vw;
	white-space: nowrap;
	overflow-x: auto;
	font-size: smaller;
	padding-bottom: 5px;
	color: rgb(0, 0, 0);

	&::-webkit-scrollbar {
		width: 10px;
		height: 8px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		box-shadow: inset 1 0 10px;
		border-radius: 10px;
		background: rgb(190, 187, 187);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgb(11, 252, 3, 150);
		border-radius: 10px;
	}
}

.tracks-container .single-item a:hover {
	background-color: rgb(241, 227, 227);
}

.tracks-container .single-item img {
	border-radius: 25%;
}

.top-track-artists p:not(:last-child)::after {
	content: ", ";
}

.tracks-container .single-item img {
	border-radius: 25%;
	margin-right: 2%;
}

.recommended-container {
	/* display: flex;
	justify-content: center; */
	flex-direction: column;
	width: 30vw;
}

.recommended-container .single-item a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px black solid;
	border-radius: 20px;
	margin: 2%;
	padding: 2%;
	transition: 0.3s;
	min-width: 0;
	animation: slideRight 0.5s ease-in forwards;
	transform: translateX(-50%);
}

@keyframes slideRight {
	100% {
		transform: translateX(0);
	}
}

.recommended-container .single-item p {
	margin: 0;
}

.recommended-container .single-item .recommended-track-title {
	display: flex;
	justify-content: flex-start;
	min-width: 0;
	width: 13vw;
	white-space: nowrap;
	overflow-x: auto;
	padding-bottom: 5px;
	color: rgb(91, 179, 142);

	&::-webkit-scrollbar {
		width: 10px;
		height: 8px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		box-shadow: inset 1 0 100px ;
		border-radius: 10px;
		background: rgb(190, 187, 187);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgb(11, 252, 3, 150);
		border-radius: 10px;
	}
}

.recommended-container .single-item .recommended-track-artists {
	display: flex;
	justify-content: flex-start;
	min-width: 0;
	width: 10vw;
	white-space: nowrap;
	overflow-x: auto;
	font-size: smaller;
	padding-bottom: 5px;
	color: rgb(0, 0, 0);

	&::-webkit-scrollbar {
		width: 10px;
		height: 8px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		box-shadow: inset 1 0 10px;
		border-radius: 10px;
		background: rgb(190, 187, 187);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgb(11, 252, 3, 150);
		border-radius: 10px;
	}
}

/* adds a comma after every word except the last one */
.recommended-track-artists p:not(:last-child)::after {
	content: ", ";
}

.recommended-container .single-item a:hover {
	background-color: rgb(241, 227, 227);
	/* border: 1px solid green; */
	box-shadow: 5px 4px 7px 3px rgb(0, 255, 55);
}

.recommended-container .single-item img {
	border-radius: 25%;
	margin-right: 2%;
}

&::-webkit-scrollbar {
	width: 10px;
	height: 8px;
}

/* Track */
&::-webkit-scrollbar-track {
	box-shadow: inset 1 0 10px;
	border-radius: 10px;
}

/* Handle */
&::-webkit-scrollbar-thumb {
	background: rgb(137, 138, 136, 150);;
	border-radius: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 300px) and (max-width: 449px) {
	.list-container {
		height: 500px;
		overflow-y: scroll;
		grid-template-columns: repeat(1, 1fr);
		/* width: 360px; */
	}

	.list-container .single-item img {
		border-radius: 50%;
		height: 75px;
		width: 75px;
	}

	.list-container .single-item {
		width: 300px;
	}
}

@media screen and (min-width: 450px) and (max-width: 800px) {
	.list-container {
		height: 600px;
		overflow-y: scroll;
		grid-template-columns: repeat(1, 1fr);
	}

	.list-container .single-item img {
		border-radius: 50%;
		height: 75px;
		width: 75px;
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 670px) {
	.home-container .user-top-container {
		grid-template-columns: repeat(1, 2fr);
	}

	.user-top-artists {
		margin: 1rem 0;
	}

	.user-top-tracks {
		margin: 5% 0;
	}
}

@media screen and (max-width: 830px) {
	.home-container .user-top-container {
		grid-template-columns: repeat(1, 2fr);
	}

	.user-top-artists {
		margin: 1rem 0;
	}

	.user-top-tracks {
		margin: 5% 0;
	}

	.list-container .single-item {
		width: 15rem;
	}
}

@media screen and (max-width: 1650px), (max-width: 1910px) {
	.home-container .user-top-container {
		grid-template-columns: repeat(1, 2fr);
	}

	.user-top-artists {
		margin: 1rem 0;
		width: 980px;
	}

	.user-top-tracks {
		margin: 5% 0;
	}
}
